table{
    margin-top: 100px;
    margin-left: 200px;
    
    border: 5px solid black;
}
td{
    border: 5px solid black;
}
item{
    padding: 20px;
    font-size: 70px;
}
.counter{
    padding: 20px;
    font-size: 70px;
}
