.body{
    display: flex;
    
}
.main{
    background-color: white;
    
    width: 40%;
    margin-left: 80px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

h1{
    align-self: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: gray;
    padding-bottom: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.balance{
    margin-top: 30px;
    background-color: beige;
    border-radius: 15px;
    margin-left: 40px;
    width: 80%;
}
.capture{
    background-color: lightblue;
    border-radius: 15px;
    margin-left: 40px;
    width: 80%;
}
.coins{
    font-weight: 500;
}
