.body{
    display: flex;
    
}
.main{
    background-color: white;
    
    width: 40%;
    margin-left: 80px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); 
}

h1{
    align-self: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
   padding-bottom: 0px;
    margin-bottom: 0px; 
}
h3{
    color: gray;
    padding-bottom: 0px;
    margin-bottom: 50px;
    padding-top: 0px;
    margin-top: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.balance{
    margin-top: 30px;
    background-color: beige;
    border-radius: 15px;
    margin-left: 40px;
    width: 80%;
}
.capture{
    background-color: lightblue;
    border-radius: 15px;
    margin-left: 40px;
    width: 80%;
    padding-bottom: 5px;
}
.input{
    border-radius: 5px;
    margin-top: 20px;
    width: 60%;
    padding: 6px;
}
.coins{
    font-weight: 500;
}
.checkpowerbtn{
    border-radius: 5px;
    margin-top: 10px;
    width: 40%;
    background-color: cyan;
    border-color: aqua;
    margin-bottom: 10px;
}
.Pokestat{
    background-color: white;
    border-radius: 15px;
    margin-left: 40px;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.Pokelist{
    margin-top: 50px;
}
.pokelistshow{
    border-radius: 5px;
    margin-top: 10px;
    width: 40%;
    background-color: cyan;
    border-color: aqua;
}
.pokelistitem{
    border-radius: 5px;
    margin-top: 60px;
    padding: 5px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(195, 193, 193);
    margin-bottom: 20px;
}
.backbtn{
    border-radius: 5px;
    margin-top: 10px;
    width: 40%;
    background-color: antiquewhite;
    border-color: antiquewhite;
    margin-bottom: 10px;
    margin-left: 10px;
}
